# deps
node_modules/
**/node_modules/

# build
dist/
**/dist/
*.tsbuildinfo

# env
.env
*.env
!.env.example

# storage (keep folder structure via .gitkeep, ignore actual content)
storage/*
!storage/.gitkeep
!storage/gpx/
!storage/audio/
!storage/photos/
!storage/covers/
storage/gpx/*
!storage/gpx/.gitkeep
storage/audio/*
!storage/audio/.gitkeep
storage/photos/*
!storage/photos/.gitkeep
storage/covers/*
!storage/covers/.gitkeep

# logs / misc
*.log
.DS_Store
coverage/
